<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.1.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">


    <context:component-scan base-package="com.angel.prospective.*"/>
    <!--加入spring注解扫描
      <bean id="demo-service"
            class="com.angel.prospective.dubbo.service.DemoServiceImpl" />

      <bean id="demo-service1"
            class="com.angel.prospective.dubbo.service.DemoServiceImpl1" />-->


    <dubbo:annotation package="com.angel.prospective.dubbo.service" />
    <dubbo:monitor protocol="registry"/>


    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="prospective" />
    <!-- 使用zookeeper注册中心暴露服务地址 -->
    <dubbo:registry address="zookeeper://127.0.0.1:2181" />

    <!-- 用dubbo协议在20880端口暴露服务 -->
    <dubbo:protocol name="dubbo" port="20885" />
    <!-- 声明需要暴露的服务接口 -->
   <!--<dubbo:service interface="com.angel.prospective.dubbo.service.Provider"
                   ref="demo-service" />-->
</beans>